.container-fluid {
    background-color: #A0AB95;
    height: 100%;
    width: 100%;
    padding: 0% 0% 1% 0%;
}

.one, .header {
    height: 300px;
    width: 100%;
}

.valley {
    height: 300px;
    width: 100%;
    margin-left: 1%;
}

.card {
    margin: 1% 0% 0% 15%;

    width: 70%;
}