

body{
    background-color: #a0ab95;
    width: 100vw;
    height: 100vh;
}
.lorem{
  color: #fafafa;
  width: 550px;
  height: 200px;
  margin-top: 10px;
  font-size: 20px;
}
.column{
    width: 100vw;
    height: 38%;
    padding: 0px;
    margin-right: 0;
    margin-left: 0;
    display: flex;
    justify-content: space-around;
    border-bottom: 25px solid #C6C9CD;
    background-color: #BCC77F;
  }

.valley{
    width: 100vw;
    height: 350px;
}


.dropdown {
    position: absolute;
    top: 15%;
    left: 7%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #fafafa;
    color: #fafafa;
    font-size: 16px;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }

  .dropdown-toggle::after {
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}

.dropdown-menu{
  background-color: #545b62;
  min-width: 15rem;
  top: -2px;
}

.dropdown-item{
  color:#fafafa;
}

/* home */

.info{
  display: flex;
  justify-content: space-around;
}
/* events page */
.air{
  height: 375;
  width: 250;
  border: none;
}

.weather-container{
  border: 1px solid black;
  padding: 46px;
}

  .events{
    position: absolute;
    top: 70%;
    left: 58%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #fafafa;
    font-size: 16px;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }


.card-columns{
    margin: 60px;
}

.card-img-top{
    height: 300px;
    width: 331px;
    margin: auto;
}


/* mobile */
@media screen and (max-width: 600px) {
   
    body{
        width: 161vw;
    }

    .column {
        width: 100%;
      }

    .valley{
        width: 100%;
    }
  }

  /* footer */
  footer {
    width: 100%;
    height: 100px;
    margin-right: 0;
    margin-left: 0;
  }
 
  .social-media {
     margin-left: 45%;
  }
 