
*{
	margin: 0;
	padding: 0;
 }
 
 body{
	background-color:  #F2EB80;
 }
 
 .container {
	position: relative;
	width: 100%;
	padding: 0px;
	margin-right: 0;
	margin-left: 0;
  }
 
 .valley{
	width: 100vw;
	height: 350px;
 }
 
 
 .dropdown {
	position: absolute;
	top: 50%;
	left: 58%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	background-color: #fafafa;
	color: #fafafa;
	font-size: 16px;
	padding: 10px;
	border: none;
	cursor: pointer;
	border-radius: 5px;
  }
 
 .local-trails{
	position: absolute;
	top: 70%;
	left: 58%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	background-color: #fafafa;
	font-size: 16px;
	padding: 10px;
	border: none;
	cursor: pointer;
	border-radius: 5px;
  }
  
  .inner {
	  display: flex;
	  flex-direction: column;
	  align-items: center;
	  background-color: #F2EB80;
  }
 
 .card{
	margin: 15px;
	justify-content: center;
	border-radius: 15px;
	 
 }
 
 .card-img-top{
	height: 200px;
	width: 600px;
	margin: auto;
 }

 .card-title {
	 margin-left: 10px;
 }