*{
	margin: 0;
	padding: 0;
}


body{
	background-color: #A0AB95;;
	font-family: var(--main-font);
  }


.container {
	position: relative;
	width: 100%;
	padding: 0px;
	margin-right: 0;
	margin-left: 0;
}


.valley {
	width: 100vw;
	height: 350px;
}


.dropdown {
	position: absolute;
	top: 50%;
	left: 58%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	background-color: #fafafa;
	color: #fafafa;
	font-size: 16px;
	padding: 10px;
	border: none;
	cursor: pointer;
	border-radius: 5px;
}


.inner {
	position: absolute;
	top: 70%;
	left: 58%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	background-color: #fafafa;
	font-size: 16px;
	padding: 10px;
	border: none;
	cursor: pointer;
	border-radius: 5px;
}
 
 
.card-columns {
	margin: 60px;
}

 
.card-img-top {
	height: 300px;
	width: 363px;
	margin: auto;
}
 

.card-title {
	height: 80px;
	padding-top: 10px;
}
 

.desc {
	height: 75px;
}
 
 
 /* mobile */
 @media screen and (max-width: 700px) {
	.card-columns {
	   column-count: 2;
	}
 }
 @media screen and (min-width: 701px) {
 
	.body {
		width: 161vw;
	}
 
	.column {
		width: 100%;
	}
 
	.card-columns {
	   column-count: 3;
	}
 
	.valley{
		width: 100%;
	}
  }