body{
    background-color: #F2EB80;
}

/* nav start */
.dropdown {
  display: flex;
  justify-content: center;
  top: 18%;
  color: #fafafa;
  font-size: 16px;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  border-bottom: 25px solid #C6C9CD;
  background-color: #BCC77F;
}

.btn-secondary{
  border: 8px solid #fafafa;
}


.dropdown-menu{
  background-color: #fafafa;
  min-width: 15rem;
  top: 128%!important;
}

.dropdown-item, h5{
  text-align: center;
  padding: 1.25rem 1.5rem;
}

#icon, #temp, #weather{
  margin-left: 31%;
}
/* nav end */

.pan-pic{
  display: flex;
  justify-content: center;
}

.valley{
  width: 80%;
  height: 300px;
  margin-top: 15px;
}


.air{
    height: 375;
    width: 250;
    border: none;
  }


  /* footer */
  footer {
    width: 100%;
    height: 100px;
    margin-right: 0;
    margin-left: 0;
  }
 
  .social-media {
     margin-left: 45%;
  }
 