@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto&display=swap');

:root { 
  --green: #BCC77F;
  --ltgrey: #C6C9CD;
  --white: #fafafa;
  --dkgrey: #6C757D;
  --ltgreen: #F2EB80;
  --main-font: 'Open Sans', sans-serif;
  --header: 'Roboto', sans-serif;
}



body{
    background-color: var(--ltgreen);
    font-family: var(--main-font);
}

header{
  background-color: var(--green);

}
/* nav start */



.log-in, .menu{
  color: var(--green);
  border: none;
  margin-top: 2px;
  background-color: var(--dkgrey);
  border: 2px solid var(--white);
}

.menu{
  border: 8px solid var(--white);
}
.dropdown {
  display: flex;
  justify-content: center;
  top: 18%;
  font-size: 16px;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  border-bottom: 25px solid var(--ltgrey);
  background-color: var(--green);
}

.dropdown-menu{
  position: none;
  background-color: var(--white);
  min-width: 15rem;
  top: 3%!important;
}

.menu-info{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dropdown-item, h5{
  text-align: center;
  padding: 1.25rem 1.5rem;
  color: var(--ltgrey);

}

.dropdown-item:hover {
  background-color: transparent;
}

#icon, #temp, #weather{
  margin-left: 31%;
}

.weather-container{
  border: 2px solid var(--dkgrey);
  background-color: var(--ltgrey);
  width: 211px;
}

.air{
  height: 328px;
  border: none;
  width: 216px;
}
/* nav end */

.pan-pic{
  display: flex;
  justify-content: center;
}

.valley{
  width: 80%;
  height: 300px;
  margin-top: 15px;
}

.buttons{
  width: 100%;
  display: flex;
}

.g-hover:hover{
  box-shadow: 5px 10px 18px var(--green);
}
  /* footer */
  footer {
    width: 100%;
    height: 100px;
    margin-right: 0;
    margin-left: 0;
  }
 
  .social-media {
     margin-left: 45%;
  }

  .fa-3x{
    color: var(--dkgrey);
  }
 